* {
  background-color: #242734;
}

/* color for selected tab #73cca8 */

/* Nav bar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #515e65;
}

nav h1 {
  padding-left: 8px;
  margin-left: 8px;
  background-color: #515e65;
}

nav ul {
  color: #b3beb3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  background-color: #515e65;
  margin-right: 10px;
}

nav ul li {
  padding: 8px;
  background-color: #515e65;
}

nav ul li:hover {
  background: #4ec5a0;
  color: #242734;
  border-radius: 15px;
  padding: 4px;
}

/* Hero */

.heroDiv {
  display: flex;
  padding: 30px;
  align-items: center;
}

.heroText h1 {
  background-color: #b3beb3;
  color: #242734;
  padding: 8px;
}

.heroText {
  text-align: left;
  width: 50%;
  margin-right: 80px;
  padding-right: 30px;
}

.profilePic {
  text-align: right;
  width: 60%;
}

.profilePic img {
  width: 60%;
}

/* About */
.about-div {
  display: flex;
  margin: 30px;
  align-items: center;
}

.about-div img {
  width: 30%;
  padding: 0 15px 0 40px;
}

.about-text {
  text-align: left;
  width: 50%;
  padding: 15px;
}

/* Footer */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #515e65;
}

footer ul {
  display: flex;
  justify-content: space-around;
  background-color: #515e65;
}

footer ul li {
  list-style: none;
  background-color: #515e65;
}

footer ul li a {
  background-color: #515e65;
}

footer ul li a img {
  width: 40px;
  height: auto;
  background-color: #515e65;
}

.App {
  text-align: center;
  color: #b3beb3;
}

.App-link {
  color: #61dafb;
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  .heroDiv {
    display: inline-block;
    margin: 0;
    align-items: center;
  }

  .heroText {
    text-align: center;
    align-items: center;
  }

  .heroText h1 {
    padding: 6px;
  }

  .profilePic {
    text-align: center;
  }

  nav {
    display: inline-block;
    width: 100%;
  }

  footer {
    height: 10%;
    width: 100%;
    margin: 2px;
    background-color: #515e65;
    position: fixed;
    bottom: 0;
  }
}
